services:

    backend:
        container_name: wale-ecom-back-dev
        image: wale-ecom-back:dev
        build:
            target: development
        command: >
            sh -c "python manage.py migrate &&
                python manage.py loaddata products/fixtures/products_init.json &&
                python manage.py loaddata content/fixtures/content_init.json &&
                python manage.py runserver 0.0.0.0:8000"
        volumes:
            - ./src:/app
        ports:
            - "8000:8000"
        env_file:
            - .env.dev
        depends_on:
            - db
        restart: always

    db:
        container_name: postgres16
        image: postgres:16
        restart: always
        env_file:
            - .env.dev
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"

volumes:
  postgres_data:
