services:

    backend:
        container_name: wale-ecom-back-dev
        image: wale-ecom-back:dev
        restart: unless-stopped
        build:
            target: development
        command: >
            sh -c "python manage.py migrate &&
                python manage.py loaddata products/fixtures/products_init.json &&
                python manage.py loaddata content/fixtures/content_init.json &&
                python manage.py runserver 0.0.0.0:8000"
        depends_on:
            - db
            - minio
        ports:
            - "8000:8000"
        env_file:
            - .env.dev
        volumes:
            - ./src:/app

    db:
        container_name: postgres16
        image: postgres:16
        restart: unless-stopped
        ports:
            - "5432:5432"
        env_file:
            - .env.dev
        volumes:
            - postgres_data:/var/lib/postgresql/data

    minio:
        container_name: minio
        image: minio/minio:latest
        restart: unless-stopped
        command: server /data --console-address ":9001"
        ports:
            - "9000:9000"   # MinIO API
            - "9001:9001"   # Web Console
        env_file:
            - .env.dev
        volumes:
            - minio_data:/data

volumes:
    postgres_data:
    minio_data:
        driver: local